{% extends 'todo/base.html' %}

{% block content %}
    {{ error }}
    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Update</button>
        <button type="reset">Reset</button>
    </form>

    <form method="POST" action="{% url 'completetodo' todo.id %}">

        {% csrf_token %}
        <button type="submit">Complete</button>

    </form>

    <form method="POST" action="{% url 'deletetodo' todo.id %}">

        {% csrf_token %}
        <button type="submit">Delete</button>

    </form>
{% endblock %}